:root{
    --color-primary:#2584ff;
    --color-secondary:#00d9ff;
    --color-accent:#ff3400;
    --color-headings:#1b0760;
    --color-body:#918ca4;
    --color-border:#ccc;
    --border-radius:30px;
}
* , *::after,*::before{
    box-sizing: border-box;
}
html{
    font-size:62.5%;
}
body{
    font-family: Inter, Arial, Helvetica, sans-serif;
    color:var(--color-body);
    font-size:2.4rem;
    line-height:1.5;
}
h1,h2,h3{
    color:var(--color-headings);
    margin-top:4rem;
}
h1{
    font-size:7rem;
}
h2{
    font-size: 4rem;
}
h3{
    font-size: 3rem;
    margin:1rem 2rem;
}
p{
    margin-top:0;
    margin-left:1rem;
}
@media screen and (min-width:1024px){
    body{
        font-size: 1.8rem;
    }
    h1{
        font-size: 8rem;
    }
    h2{
        font-size: 4rem;
    }
    h3{
        font-size:2.4rem;
    }
}
/* Links */
a{
    text-decoration:none;
}
.link-arrow{
    color:var(--color-accent);
    font-size:2rem;
    margin-left:1rem;
    text-transform:uppercase;
    font-weight:bold;
}
.link-arrow::after{
    content:'-->';
    margin-left:5px;
    transition:margint 0.15s;
}
/* .link-arrow:hover{
    color:var(--color-primary);
} */
.link-arrow:hover::after{
    margin-left:10px;
}
.badge{
    border-radius:20px;
    font-size:2rem;
    font-weight:600;
    padding:0.5rem 2rem;
    white-space: nowrap;
}

.badge--primary{
    background-color:var(--color-primary);
    color:#fff;
}
.badge--secondary{
    background:var(--color-secondary);
    color:#fff;
}
.badge-small{
    font-size:1.6rem;
}
@media screen and (min-width:1024px){
    .badge-small{
        font-size:1.2rem;
    }
    .badge{
        font-size:1.5rem;
    }
}
/* Lists */
.list{
    padding:2rem;;
    list-style:none;
    color:var(--color-headings);
}
.list--inline .list__item{
    display: inline-block;
    margin-left:2rem;
}
.list--tick{
    list-style-image:url(../images/tick.svg);
    padding-left:3rem;
}
.list--tick .list__item{
    padding-left:0.5rem;
    margin-bottom:1rem;
}
@media screen and (max-width:1024px){
    .list--tick .list__item{
        padding-left:0;
}
}
/* icons */
.icon{
    width:40px;
    height:40px;
}
.icon--primary{
    fill:var(--color-primary);  /* this fill property is used for svg files only */
}
.icon-container{
    width:54px;
    height:54px;
    background:#f3f9fa;
    border-radius:100%;
    display: inline-flex;
    justify-content: center;
    align-items: center;
}
.btn{
    border-radius:var(--border-radius);
    border:0;
    cursor:pointer;
    font-size:1.75rem;
    font-weight:600;
    margin:1rem 0;
    padding:2rem 3rem; 
    text-transform: uppercase;
    text-align:center;
    white-space:nowra;
}
.btn-primary{
    background:var(--color-secondary);
    color:#fff;
}
.btn-primary:hover{
    background: #3aff3a;
}
.btn-secondary{
    background:var(--color-secondary);
    color:#fff;
}
.btn-secondary:hover{
    background:goldenrod;
}
.btn-accent{
    background:var(--color-accent) ;
    color:#fff;
}
.btn-accent:hover{
    background:#2584ff;
}
.btn-block{
    width:100%;
    display:inline-block;
}
.btn-outline{
    color:var(--color-headings);
    background:#fff;
    border:2px solid var(--color-headings);
    margin:1rem 0;
}
.btn-outline:hover{
    color:#fff;
    background:var(--color-headings);
}
/* Input */
.input{
    border-radius:var(--border-radius);
    border:2px solid var(--color-border);
    color:var(--color-headings);
    font-size: 2rem;
    outline:0;
    padding:1.5rem 3.5rem;
}
::placeholder{
    color:#cdcdb7;
}
.input-group{
    border-radius: var(--border-radius);
    border:1px solid var(--color-border); 
    display:flex;
}
.input-group .input{
    border:0;
    flex-grow:1;
    padding:1.5rem 1rem;
}
.input-group .btn{
    margin:4px;
}
@media screen and (min-width:1024px){
    .input{
        font-size:1.5rem;
    }
}