<blockquote class="quote">
    <p class="quote__text">
        Lorem ipsum dolor sit, amet consectetur adipisicing elit. Unde eum ea, voluptates culpa facilis provident voluptas? Animi distinctio harum corporis.
    </p>
</blockquote>
<footer>
    <div class="media">
        <div class="media__image">
            <span class="icon-container back__ground">
                <svg class="icon icon--primary quote__line">
                   <use xlink:href="/images/sprite.svg#line"></use>
                </svg>
            </span>
        </div>
        <div class="media__body">
            <h3 class="media__title quote__author">Maidot </h3>
            <p class="media__text quote__org">HF^2 startup</p>
        </div>
    </div>
</footer>
